<div class="row-fluid">

	<!--
	<div class="span3">
	</div>	
	-->

	<div class="span9">
	<p><%= "Cards in deck: #{session[:deck].size}" %>	

	<div class="well">
	<h5>Dealer's cards:</h5>
	<% session[:dealer_hand].each_with_index do |card,i| %>
		<% if i==0 && @dealer_hide%>
			<img src='/images/cards/cover.jpg' class='card_image'>
		<% else %>
			<%= get_card_url(card)%>
		<% end %>
	<% end %>
	<br>
	<% if !@dealer_hide %>
		<%= "Hand value: #{hand_value(session[:dealer_hand])} " %>
	<% end %>
	<% if @show_dealer_hit_btn %>
		<form action='/dealerhit' method ='post'>
			<input type='Submit' value ="Show Dealer's next card" class='btn btn-primary' btn-large/>
		</form>
	<% end %>
	</div>	

	<div class='well'>
	<h5><%= "#{session[:username]}'s cards:" %></h5>
	<% session[:player_hand].each do |card| %>
		<%= get_card_url(card)%>
	<% end %>
	<br>
	<%= "Hand value: #{hand_value(session[:player_hand])} " %>
	</div>	

	<p>
	<% if @show_hit_stay_btn %>
		<%= "#{get_user} has #{display_player_money}. Your current bet is #{display_bet}. What would you like to do?" %>
		<form id='hit_btn' action='/playerhit' method ='post'>
			<input type='Submit' value ='Hit' class='btn btn-success' btn-large/>
		</form>
		<form id='stay_btn' action='/playerstay' method ='post'>
			<input type='Submit' value ='Stay' class='btn btn-warning' btn-large/>
		</form>
	<% end %>
	</p>
	</div>

</div>